@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #20446e;
}

body {
  color: white;
  background: white;
}

address {
  font-style: normal; /* Override italic */
  /* Any other styles you want to apply */
}

.custom-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.custom-list li {
  position: relative;
  padding-left: 24px; /* Space for the custom bullet */
}

.custom-list li::before {
  content: "\2022"; /* The bullet symbol */
  position: absolute;
  left: 0;
  top: 4px;
  margin-right: 12px;
  line-height: 1.2;
  color: #b4803c;
}

.container {
  display: flex;
  flex-direction: row;
}

.item::after {
  content: "•";
  margin: 0 5px;
  color: #6abad8; /* Customize the color */
  font-size: 14px; /* Customize the size */
}

.item:last-child::after {
  content: ""; /* Remove bullet after the last item */
}
