@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  color: white;
  background: #20446e;
}

address {
  font-style: normal; /* Override italic */
  /* Any other styles you want to apply */
}
